section#articles {
  display: flex;
  flex-direction: column;
  gap: 46px;
  max-width: 1240px;
  margin: 4rem auto;
  padding: 0 2rem;
}

#article img {
  max-width: 300px;
}

@media screen and (max-width: 700px) {
  #article img {
    max-width: 100%;
    width: 100%;
  }
} 

